<div class="jumbotron">

  <h1 class="text-center">Wikifools</h1>
    <p class="text-center">The place to find things that are absolutely incorrect.</p>
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Accomplishes nothing</h3>
    <p>Wikifools is full of people who have no idea what they're doing but have tons of free time to go online and post information as if they were experts. Join today!</p>
  </div>
  <div class="col-md-6">
    <h3>Helps you feel smarter.</h3>
    <p>Wikifools is proven to help you feel as if you were an expert in the field of your choosing. Stellar space time travel is possible? It is here!</p>
  </div>